@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

    :root{
        --clr-main: rgb(72, 72, 248);
        --clr-white: white;
        --clr-grey: grey;
        --clr-red: rgb(254, 4, 4);
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Rubick', sant-serif;
    }
    h1,h2,h3,h4,h5,h6,p,a,imput,textarea,ul{
        padding: 0;
        margin: 0;
    }

    ul{
        list-style-type: none;
    }

    a{
        text-decoration: none;
    }